main .commerce-create-password-container {
    max-width: 700px;
    margin: 40px auto;
    width: 100%;
}

.commerce-create-password.placeholder.block::before {
content: "create-password";
position: absolute;
font-size: 20px;
font-weight: bold;
color: rgb(0 0 0 / 20%);
z-index: -1;
}

.commerce-create-password.placeholder.block {
display: flex;
border: dashed 3px lightgrey;
padding: 10px;
margin-bottom: 10px;
min-height: 30px
}

.commerce-create-password.placeholder.block > div {
flex-grow: 1;
padding: 10px;
display:flex;
justify-content: center;
}

.commerce-create-password.placeholder.block > div > div {
padding: 10px;
}

.commerce-create-password.placeholder.block > div > div:first-child {
font-weight: bold;
}